body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}
h1{
    color: purple
}
h2{
    color:#444;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}
p,li{
    font-size: 16px;
}
ul{
    background-color: white;
    padding: 10px;
}
li{
    margin: 5px;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


